@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'copperplate';
    src: url('/fonts/copperplate.ttc') format('ttc'),
         url('/fonts/copperplate.ttc') format('ttc');
    font-weight: normal;
    font-style: normal;
}

.font-copperplate {
    font-family: 'copperplate', sans-serif;
}